@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto Mono', sans-serif;
  color: #252525;
  font-weight: 400;
  background-color: #f7f2e9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.2rem;
}

.container {
  width: 100%;
  max-width: 100rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.8rem;
}

.header {
  width: 100%;
  background-color: #edc84b;
  padding: 2rem;
  text-align: center;
  border-bottom: 1.6rem solid #333;
}

.header h1 {
  color: #333;
  text-transform: uppercase;
  font-size: 5.2rem;
  font-weight: 300;
  letter-spacing: 3px;
  position: relative;
  margin: 0;
}

.header h1::before,
.header h1::after {
  content: '';
  height: 3px;
  width: 4rem;
  background-color: #333;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.header h1::before {
  left: 0;
}

.header h1::after {
  right: 0;
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  background-color: #fff;
  padding: 4rem;
  border: 1.6rem solid #333;
}

.menu h2 {
  padding: 1rem 0;
  font-size: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 500;
  border-top: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
}

.menu>p {
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.6;
  width: 80%;
}

.pizzas {
  list-style: none;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.8rem;
}

.pizza {
  display: flex;
  gap: 3.2rem;
  padding: 2rem;
  border: 0.8rem solid #333;
  background-color: #f7f2e9;
}

.pizza img {
  width: 12rem;
  height: 12rem;
}

.pizza div {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.pizza h3 {
  font-size: 2rem;
  font-weight: 400;
}

.pizza p {
  font-size: 1.4rem;
  font-weight: 300;
  font-style: italic;
  margin-bottom: auto;
}

.pizza span {
  font-size: 1.6rem;
}

.pizza.sold-out {
  color: #888;
}

.pizza.sold-out img {
  filter: grayscale();
  opacity: 0.8;
}

.footer {
  font-size: 1.4rem;
  text-align: center;
  padding: 2rem;
  background-color: #edc84b;
  width: 100%;
  border-top: 1.6rem solid #333;
}

.order {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}

.btn {
  color: #fff;
  font-family: inherit;
  border: none;
  font-size: 1.4rem;
  font-weight: 500;
  background-color: #333;
  padding: 1.4rem 3.2rem;
  cursor: pointer;
  transition: all 0.2s;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #252525;
}

.btn-alt {
  background-color: #edc84b;
  color: #333;
}

.btn-alt:hover {
  background-color: #e9bb24;
}